name = "webapp"
main = "src/index.tsx"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = "./dist"

[[d1_databases]]
binding = "DB"
database_name = "webapp-production"
database_id = "dbac89e1-e8bf-44e6-a2ac-3ef4a984c945"
